# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# Virtual environment
venv/
env/
.venv/
ENV/

# Dataset / Data folders
data/
*.csv
*.npz
*.h5

# Model checkpoints / saved weights
*.pth
*.pt
checkpoint_*.pth

# Logs
*.log

# MacOS system files
.DS_Store

# IDE / editor files
.vscode/
.idea/
*.iml
